.my-input {
	border: 1px solid blue;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: background-color .3s ease;
	outline: none;
	&:hover {
		background-color: cornflowerblue;
	}
	&:focus {
		background-color: cornflowerblue;
		outline: 1px solid darkblue;
	}
}

.big-input {
	font-size: 30px;
	padding: 20px;
}